<%- include("templates/header", { title: "403 - Unauthorized" }) %>

    <h2 class="text-4xl mb-4">403 – You are not authorized to view this page.</h2>
    <a href="/" class="text-pink-400 hover:text-pink-500  underline">Go Home</a>

    <%- include("templates/footer") %>