<%- include('templates/header',{ title: "404 - Not Found" }) %>
    <h1 class="text-4xl mb-6">404 – Page Not Found</h1>
    <a href="/" class="text-pink-600 hover:underline pt-10">Go Home</a>

    <%- include('templates/footer') %>