</main>

<footer class="bg-green-200 text-sm py-4 mt-auto">
    <div class="container mx-auto flex items-center justify-between px-4">
        <p class="m-0">&copy; 2025 COMP 2537. All rights reserved.</p>
        <div class="flex space-x-4 text-lg">
            <a href="#" class="hover:text-gray-700"><i class="fab fa-twitter"></i></a>
            <a href="#" class="hover:text-gray-700"><i class="fab fa-instagram"></i></a>
            <a href="#" class="hover:text-gray-700"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</footer>
</body>

</html>